<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Explanation for issues of type "ForegroundServicePermission":
     For targetSdkVersion >= 34, each foregroundServiceType listed in the
     <service> element requires specific sets of permissions to be declared in
     the manifest. If permissions are missing, then when the foreground service
     is started with a foregroundServiceType that has missing permissions, a
     SecurityException will be thrown.
 -->
    <!-- AJOUT DE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />



    <uses-permission android:name="android.permission.INTERNET" />

    <!-- on indique que l'applicaiton utilise une caméra -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- on indique que l'applicaiton utilise une caméra mais n'est pas obligatoire-->
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:name=".GuideGroupApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideGroup"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuideGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- L'ancien service est supprimé, remplacé par le receiver -->
        <!-- <service
            android:name=".geofencing.GeofenceTransitionsService"
            android:exported="false">
        </service> -->

        <!-- L'ancien service est supprimé, remplacé par le receiver -->
        <receiver android:name=".geofencing.GeofenceBroadcastReceiver"
            android:exported="true" />

        <!-- CORRECTION : Déclaration du nouveau JobIntentService -->
        <service
            android:name=".geofencing.GeofenceTransitionsJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />


        <service android:name=".service.LocationTrackingService"
            android:foregroundServiceType="location">
        </service>

    </application>

</manifest>

